.graph {
  margin-top: 50px;
  margin-bottom: 100px;
}

.jumbotron{
  height: 20px;
  border: 1px solid black;
  border-radius: 20px;
}

.jumbotron p{
  margin-top: -30px;
  font-size: 40px;
}

label{
  font-size: 18px;
}

label, input, select{
  margin-right: 12px;
}

.form-group{
  margin-right: 30px;
}

.filter{
  margin-left: 85px;
}

.filter-graph{
  margin-left: 35px;
}

.refresh{
  margin-left: 1130px;
  margin-top: -38px;
}

.error-msgs span{
  margin-top: 15px;
  position: absolute;
  margin-left: 48px;
}